#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}



.controls{
  box-sizing:border-box;
  display:flex;
  justify-content:left;
  position:fixed;
  z-index:9999;
  opacity:1;
  background-color:antiquewhite;
  color:rgb(33, 35, 37);
  top:0;
  left:0;
  width:100%;
  height:100px;
  border:1px solid red;
}
.control-buttons{
  width:100px;
  display:flex;
  flex-direction:column;
}
.control-buttons button{
  padding:0;
  margin:2px;
}
.info{
  margin:0 10px;
  text-align:left;
}
.info p{
  margin:0;
}
.container{
  box-sizing: border-box;
  position:absolute;
top:10%;
left:0;
  box-sizing: border-box;
  width:100%;/*initial size */
/* border:10px solid green; */
  background-color:white;
 padding:0;
 
}

img{
  box-sizing: border-box;
  position:relative;
  /* top:0;
  left:0; */
  width:100%;
  border:1px solid yellow;
}

canvas{
  box-sizing: border-box;
  position:absolute;
  top:10%;
  left:0;
  /* width:100%;
  height:100%; */
  /* background:linear-gradient(red,green); */
  opacity:1;
  border:1px solid green;
  cursor:crosshair;
  /* border:2px solid white; */
  margin:0;
  padding:0;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .container{
    background-color: darkgray;
  }
}
@media screan and (max-width: 600px){
  .container{
    width:100%;
  }
}